<!DOCTYPE html>
<html>

<head>
    <link data-require="bootstrap@3.3.5" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link data-require="bootstrap@3.3.5" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css" />
    <link data-require="bootstrap@3.3.5" data-semver="3.3.5" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <script data-require="bootstrap@3.3.5" data-semver="3.3.5" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
</head>

<body>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Movie Flix</h1>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="sel1">Select Type</label>
                    <select class="form-control" id="sel1">
                        <option>All</option>
                        <option>Movie</option>
                        <option>Series</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="sel1">Select Genre</label>
                    <select class="form-control" id="sel1">
                        <option>Animation</option>
                        <option>Action</option>
                        <option>Series</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="sel1">Sort by</label>
                    <select class="form-control" id="sel1">
                        <option>year</option>
                        <option>Rating</option>
                        <option>User rating</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-9">
            <img src="http://placehold.it/200x150" class="img-responsive" alt="movie poster">
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <h4>Movie Title</h4>
            <span style="padding-right:10px">rating</span>
            <span>genre</span>
            <p>synopsys</p>

        </div>
    </div>
</div>
</body>

</html>
